<!--
  templateType: global_partial
  label: Header Main
-->
<header class="header-main static" id="page-header">
    <div class="container container-lg">

        <div class="header-main__wrapper">

            <div class="desktop-menu">
                <div class="header-main__wrapper--section">
                    {% module "module_16953680887032" path="/Theme by 6Minded/modules/global/Header Main", label="Header Main" %}
                </div>
            </div>

            <!-- mobile nav js from main.js -->
            <div class="slick-nav-wrapper"></div>
            
        </div>
    </div>
</header>