<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: 404 error 6M
  screenshotPath: ../../images/template-previews/404.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Error 404 | Page not found" %}

{% block body %}
<section class="error-page error-page__404" data-error="404">
	<div class="container">
		<div class="wrapper d-flex flex-row justify-between">
			<div class="text">
				<h1>404</h1>
				<h3>Are you lost?</h3>
				<p>Sorry, page you are looking for doesn’t exist.</p>
				<span>
					<a href='https://subsbase.com' target='_self' class='cta_button button button--type-2'>Go back to homepage</a>
				</span>
			</div>
			<div class="image">
				<img src="https://26895932.fs1.hubspotusercontent-eu1.net/hubfs/26895932/Theme/Images%20pages/404.svg" alt="404">
			</div>
		</div>
	</div>
</section>
{% endblock body %}
